<span id="<%=value%><%=index%>" class="ssm_search_button_result"></span>
<span class="ssm_search_result1"><%=index%></span>
<span class="ssm_search_result2"><%=pluralResults%></span>
<span class="ssm_search_button_text"><b><%=index%></b> <%=pluralSelections%> found containing <b>'<%=keyWord%>'</b> in <b><%=text%>.</b></span>
<span id="<%=value%>" class="ssm_search_button_go">Go</span>