<div>
		<div class="ssm_headerBarGray float-left">				
			<div class="padding5">				
				<div class="title float-left">Step 4: Message Lines</div>													
			</div>			
		</div>
		<div class="ssm_orderingStepContainer">
			<div class="padding10">
				<!-- Message Lines -->
				<div class="ssm_orderingBlueBorderBottomTitle float-left bottom-spacer-10">
				    <div class="commandButton float-left icon"><a class="memo"/></div>
				    <div class="float-left" style="width:660px;">
				        <div class="title bottom-spacer-10">Message Lines</div>
				        <form id="send_message_lines" action="#send_message_lines">
					        <div>
								<div class="label-list bottom-spacer-5 float-left">
									<label class="float-left colWidth-40">1:</label>
									<div class="float-left upper"><input type="text" name="ssm_Message1" class="longer" value="<%= msg1 %>"/></div>
								</div>
								<div class="label-list bottom-spacer-5 float-left">
									<label class="float-left colWidth-40">2:</label>
									<div class="float-left upper"><input type="text" name="ssm_Message2" class="longer" value="<%= msg2 %>"/></div>
								</div>         
								<div class="label-list bottom-spacer-5 float-left">
									<label class="float-left colWidth-40">3:</label>
									<div class="float-left upper"><input type="text" name="ssm_Message3" class="longer" value="<%= msg3 %>"/></div>
								</div>         
								<div class="label-list bottom-spacer-5 float-left">
									<label class="float-left colWidth-40">4:</label>
									<div class="float-left upper"><input type="text" name="ssm_Message4" class="longer" value="<%= msg4 %>"/></div>
								</div>         
								<div class="label-list bottom-spacer-5 float-left">
									<label class="float-left colWidth-40">5:</label>
									<div class="float-left upper"><input type="text" name="ssm_Message5" class="longer" value="<%= msg5 %>"/></div>
								</div>         
								<div class="label-list bottom-spacer-5 float-left">
									<label class="float-left colWidth-40">6:</label>
									<div class="float-left upper"><input type="text" name="ssm_Message6" class="longer" value="<%= msg6 %>"/></div>
								</div>         
								<div class="label-list bottom-spacer-5 float-left">
									<label class="float-left colWidth-40">7:</label>
									<div class="float-left upper"><input type="text" name="ssm_Message7" class="longer" value="<%= msg7 %>"/></div>
								</div>         
								<div class="label-list bottom-spacer-5 float-left">
									<label class="float-left colWidth-40">8:</label>
									<div class="float-left upper"><input type="text" name="ssm_Message8" class="longer" value="<%= msg8 %>"/></div>
								</div>         
								<div class="label-list bottom-spacer-5 float-left">
									<label class="float-left colWidth-40">9:</label>
									<div class="float-left upper"><input type="text" name="ssm_Message9" class="longer" value="<%= msg9 %>"/></div>
								</div>                     	
							</div>
						</form>						
				    </div>		    				    				    				    				    				    
				</div>				
			</div>			
		</div>		
</div>