<tr>
	<td>
		<div class="commandButton"><a href="#options" class="play"/>
	</td>
	<td><%= printfile %></td>
	<td><%= jobname %></td>
	<td class="tac"><%= jobnumber %></td>
	<td class="tac"><%= spoolfile %></td>
	<td>
	    <a href="#" class="outq colWidth-100 upper"><%= outq %></a>
		<!--<input type="text" value="<%= outq %>" class="outq colWidth-100 upper"/>-->
	</td>
	<td class="tal"><%= userdata %></td>
	<td class="tac"><%= status %></td>
	<td class="tac"><%= pages %></td>
	<td class="tac"><%= rundate %></td>
	<td class="tac"><%= runtime %></td>
</tr>