<tr>
	<td class="colWidth-30 tac">
		<%= line %>
	</td>
	<td class="padding10">
		<div class="bottom-spacer-5 itemDetail-line-1 normalView"><span><%= roomtype_desc %></span> | <%= roomarea_desc %></div>
		<div class="bottom-spacer-5 itemDetail-line-2"><%= item %></div>
		<div class="itemDetail-line-3"><%= item_desc1 %> | <%= item_desc2 %></div>
	</td>
	<td><%= qty %> <%= uom %></td>
	<td id="row-price"><%= price %></td>
	<td id="row-ext-price"><%= extprice %></td>
</tr>
