				<!-- Colulmn 1 -->
		    		<div class="col float-left">
			    		<div class="label-list  float-left">
					    	<label class="float-left colWidth-160">Color:</label>
					        <div class="float-left upper"><%= icolde %></div>
						</div>
						<div class="label-list  float-left">
					    	<label class="float-left colWidth-160">Pattern Name:</label>
					        <div class="float-left upper"> <%= ipatde %> </div>
						</div>
						<div class="label-list  float-left">
					    	<label class="float-left colWidth-160">Item Width:</label>
					        <div class="float-left upper"><%= iwidth %></div>
						</div>
						<div class="label-list  float-left">
					    	<label class="float-left colWidth-160">Wear Code:</label>
					        <div class="float-left upper"><%= iwearc %></div>
						</div>	
						<div class="label-list  float-left">
					    	<label class="float-left colWidth-160">Rating/ABC Code:</label>
					        <div class="float-left upper">  <%= iabc %> - <%= abc_name %> </div>
						</div>
						<div class="label-list  float-left">
					    	<label class="float-left colWidth-160">Full Carton:</label>
					        <div class="float-left upper"><%= fullcarton %></div>
						</div>
		    		</div>
		    		
		    		<!-- Column 2 -->
		    		<div class="col float-left">
			    		<div class="label-list  float-left">
					    	<label class="float-left colWidth-160">Item Class 1:</label>
					        <div class="float-left upper"><%= iclas1 %> - <%= iclas1_name %></div>
						</div>
						<div class="label-list  float-left">
					    	<label class="float-left colWidth-160">Item Class 2:</label>
					        <div class="float-left upper"><%= iclas2 %> - <%= iclas2_name %></div>
						</div>
						<div class="label-list  float-left">
					    	<label class="float-left colWidth-160">Item Class 3:</label>
					        <div class="float-left upper"><%= iclas3 %> - <%= iclas3_name %></div>
						</div>
						<div class="label-list  float-left">
					    	<label class="float-left colWidth-160"><span style="font-size:1px">.</span></label>
					        <div class="float-left upper"></div>
						</div>	
						<div class="label-list  float-left">
					    	<label class="float-left colWidth-160"><span style="font-size:1px">.</span></label>
					        <div class="float-left upper"></div>
						</div>
						<div class="label-list  float-left">
					    	<label class="float-left colWidth-160"><span style="font-size:1px">.</span></label>
					        <div class="float-left upper"></div>
						</div>
		    		</div>
		    		