<tr>
	<td><%= serialnumber %></td>
	<td><%= shade %></td>
	<td class='tac'><%= warehouse %></td>
	<td><%= location %></td>
	<td class='tar'><%= availqty_uom1 %> <%= uom1 %></td>
	<td class='tar'><%= availqty_uom2 %> <%= uom2 %></td>
	<td class='tac'><%= statuscode %></td>
</tr>